@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Raleway:ital@0;1&display=swap');
/*    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */

h1 {
    font-weight: 700;
}

body {
    font-family: 'Raleway', sans-serif;
}

.poem {
    margin-left: auto;
}